<div class="flex flex-row">

    <div>
        <!-- Image -->
        <img class="w-10 rounded-full rounded-full shadow-2xl" src="https://placeimg.com/80/80/people" />
    </div>

    <div class="p-1">
        <!-- Username -->
        <label class="label">
            <span class="label-text"> 
                <a class="hover:underline" href="">{{ username }}</a>     
            </span>
        </label>
    </div>

</div>