<div class="form-control">
    <label class="label">
    <span class="label-text">{{ label }}</span>
    </label>
    <input name="{{ name }}" type= "{{ type }}" placeholder="{{ placeholder}}"  class="input input-bordered" />
</div>

@if(flashMessages.has(`errors.${name}`))

    <div class="text-red-600">

        {{flashMessages.get(`errors.${name}`)}}

    </div>
    
@end