<div class="form-control">
    <label class="label">
    <span class="label-text">{{ label }}</span>
    </label>
    <input name="{{ name }}" type= "{{ type }}" placeholder="{{ placeholder}}"  class="input input-bordered" />
</div>