<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <center>
        <div class="artboard artboard-demo phone-1">
            <div class="form-control">
                <form action="{{ route('user.store') }}" method="POST">
                    <label class="input-group input-group-vertical">
                    <span>Email</span>
                    <input name='email' type="text" placeholder="info@site.com" class="input input-bordered" />
                    </label>
                    <br>
                    <label class="input-group input-group-vertical">
                        <span>Senha</span>
                        <input name="password" type="password" class="input input-bordered" />
                    </label>
                    <div class="form-control mt-6">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </form>

            </div>
        </div>
    </center>



</body>
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.42.1/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
</html>