@layout('layouts/simple')
@set('title','Bem-vindo ao Yarural!')

@section('body')

    <div class="navbar bg-base-100">
        <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl">Yarural</a>
        </div>

        <div class="flex-none dropdown dropdown-end">
    </div>

    <a class="btn btn-primary" href="{{route('auth.create')}}">Login</a>
    <a class="btn btn-primary" href="{{route('user.create')}}">Cadastrar-se</a>

@endsection