@layout('layouts/main')
@set('title','Yarural | Categorias')
@set('category', true)
@section('body')
    <div>

        @each(category in categories)
            <div class="focus-visible:ring hover:bg-white flex">
                <a href="{{ route('category.show', {id: category.id}) }}">{{category.name}}</a>
            </div>
        @end

    </div>

@end