@layout('layouts/main')
@set('title',`Yarural | Categoria ${category.name}`)
@set('categoryActive', true)
@section('body')

    <div class="text-center underline text-xl">
        Perguntas sobre {{ category.name }}:
    </div>


    @include('questions/index/index')

@end