@layout('layouts/main')
@set('title','Yarural | {{ question.question }}')

@section('body')
  
<div>
    {{ question.question }}
    <br>
    {{ question.description }}
    <br>
    De: {{ user.name }}

</div>


@end